@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


.apply
{
    border: 2px solid #0d5d59;
    padding: 2px 8px;
    border-radius: 8px;
    color: #0d5d59;
    font-weight: 600;
    cursor: pointer;
}
.apply:hover{
    background-color: #0d5d59;
    color: white;
}

input
{
  border: 2px solid #ccc;
  outline: none;
  padding: 2px 8px;
  border-radius: 5px;
}

.input
{
  border: 2px solid #ccc;
  outline: none;
  padding: 2px 8px;
  border-radius: 5px;
}